@font-face {
  font-family: "Arcade Classic";
  src: url("../fonts/ARCADECLASSIC.TTF");
}

@font-face {
  font-family: "Space Ranger";
  src: url("../fonts/SpaceRangerSemiItalic-D900.otf");
}

@font-face {
  font-family: "Space Ranger 3d";
  src: url("../fonts/SpaceRanger3DItalic-Z3JK.otf");
}

/* ---- reset ---- */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

div {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

/* ---- typography ---- */

h1 {
  font-family: 'Space Ranger 3d', 'Courier New', Courier;
  text-align: center;
  color: #ffffff;
  font-size: 58px;
  font-weight: normal;
  line-height: normal;
  padding: 0;
  /* margin: 10px 0 10px 0; */
  /* text-shadow: 2px 2px #888888; */
  text-shadow: 2px 0 0 #666, -2px 0 0 #666, 0 2px 0 #666, 0 -2px 0 #666, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

h2 {
  font-family: 'Space Ranger', 'Courier New', Courier;
  text-align: center;
  color: #fff000;
  font-weight: 200;
  font-size: 28px;
  padding: 5px;
  border: 1px solid #000000;
}

/* ---- layout ---- */

header {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* ---- CLASSES ---- */

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 20px;
}

.titleSign {
  width: 300px;
  background-color: #ffd510;
  border: 5px solid #9c9cad;
  border-radius: 20px;
  padding: 0;
}

.plateau {
  margin: 10px 0 20px 0; 
  width: 300px;
  height: 300px;
  font-family: 'Arcade Classic', 'Courier New', Courier;
  background-color: #c0c0c0;
  color: #ffffff;
  padding: 0;
}

.plateauBorder {
  width: 308px;
  height: 308px;
  border: 1px double blue;
  border-radius: 15px;
}

/* ---- ID's ---- */

#cordDisplay {
  font-family: 'Arcade Classic', 'Courier New', Courier;
  color: #ffffff;
  font-size: 18px;
  padding: 10px;
}

/* ---- components ---- */

.button {
  margin: 5px 0 5px 0;
  -moz-box-shadow: 0px 1px 0px 0px #fff6af;
  -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
  box-shadow: 0px 1px 0px 0px #fff6af;
  background-color: #ffec64;
  border: 1px solid #ffaa22;
  cursor: pointer;
  color: #000000;
  font-family: 'Arcade Classic', 'Courier New', Courier;
  font-size: 15px;
  font-weight: 300;
  padding: 8px 20px;
  text-decoration: none;
  outline: none;
}